.App {
  text-align: center;
}
html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #156D9D;
  overflow-x: hidden;
}
.container {
  max-width: 100%;
  overflow-x: auto;
  display: block;
}
@keyframes float {
  0% { transform: translatey(0px); }
  50% { transform: translatey(-10px); }
  100% { transform: translatey(0px); }
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #156D9D; /* 💙 Même fond que ArenaGo */
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (max-width: 768px) {
  .MuiToolbar-root {
    padding-left: 16px !important;
    padding-right: 16px !important;
  }

  .MuiDrawer-paper {
    border-top-right-radius: 12px;
    border-bottom-right-radius: 12px;
  }
}
