.MuiTableRow-root:hover {
  background-color: #f1f1f1 !important;
}

.MuiButton-outlined {
  transition: 0.3s ease !important;
}

.MuiButton-outlined:hover {
  background-color: #FF6B00 !important;
  color: white !important;
  border-color: #FF6B00 !important;
}
